0.1cpb.read1.N15s.0MM.uniqseqs.txt
0.1cpb.read1.N15s.clustered.txt
0.1cpb.read1.N15s.txt
20130305.1_M00275_0102_000000000-A33TB_EB-i18.zoomed.hm4.pdf
TEMP
TEMP2
allbcdistmiseq4genomes.pdf
bin/
david/
details.allwells.plate2.index18.txt
details.allwells.plate3.index19.txt
details.allwells.txt
emelie/
hs_err_pid28090.log
igv.log
multipage.pdf
pelle.pdf
reference/
script/N15Counter
script/deplex.py
script/deplex2.py
script/deplexEB
script/deplexEB.buppBeforeBufferedPrint
script/deplexEB.buppBeforeMP
script/getRandom.py
script/perlinewc.sh
script/progressbar.py
seaseq.bp10-45.txt
tasks/
data/*
*.pyc
